# Docker images all from:
# https://github.com/root-project/root-docker

build-gpu-nvidia:
  stage: build
  image: archlinux/archlinux:base-devel
  parallel:
    matrix:
    - GPU: ['ON','OFF']

  tags:
    - k8s-gpu
  before_script:
    - pacman-key --init
    - pacman -Syu --noconfirm
    - pacman -S --noconfirm --assume-installed opencl-nvidia root-cuda cmake cern-vdt unuran openmpi vc gcc-fortran
    - source /etc/profile
  script:
    - nvidia-smi
    - cmake -E rm -rf ./build
    - cmake -E make_directory ./build
    - cmake -S . -B ./build -D CMAKE_INSTALL_PREFIX:PATH=./install -D GARFIELD_WITH_CUDA:BOOL=$GPU
    - cmake --build ./build --config Debug --parallel 5


build-alma9:
  stage: build
  image: rootproject/root:6.30.02-alma9
  before_script:
    - yum install libXmu-devel motif-devel -y
  script:
    - rm -rf build
    - mkdir build
    - cd build
    - cmake3 -DCMAKE_INSTALL_PREFIX=/usr/local -DROOTSYS=/usr/lib ../
    - make -j4
    - make install
  artifacts:
    paths:
      # depending on your build setup it's most likely a good idea to cache outputs to reduce the build time
      # cache:
      #   paths:
      #     - "*.o"  
      
# Docker image chosen to match build instructions at:
# https://garfieldpp.web.cern.ch/garfieldpp/getting-started/

build-ubuntu25:
  stage: build
  image: rootproject/root:6.36.00-ubuntu25.04
  script:
    - rm -rf build
    - mkdir build
    - cd build
    - cmake -DROOTSYS=/usr/lib ../
    - make -j4
    - make install

build-ubuntu24:
  stage: build
  image: rootproject/root:6.34.00-ubuntu24.10
  script:
    - rm -rf build
    - mkdir build
    - cd build
    - cmake -DROOTSYS=/usr/lib ../
    - make -j4
    - make install

build-fedora41:
  stage: build
  image: fedora:41
  script:
    - dnf --nodocs --assumeyes install cmake gcc gcc-fortran root root python3-distrdf python3-root root-cli root-fftw root-foam root-fumili root-gdml root-genetic root-genvector root-geom root-geom-builder root-geom-painter root-geom-webviewer root-graf-fitsio root-graf-gpadv7 root-graf-gviz root-graf-primitives root-graf-x11 root-graf3d-csg root-graf3d-eve root-graf3d-eve7 root-graf3d-gl root-graf3d-gviz3d root-graf3d-x3d root-gui-browsable root-gui-browsable-v7 root-gui-browserv7 root-gui-browserv7-v7 root-gui-builder root-gui-canvaspainter root-gui-fitpanel root-gui-fitpanelv7 root-gui-ged root-gui-html root-gui-recorder root-gui-webdisplay root-gui-webgui6 root-hist-factory root-io-dcache root-io-sql root-io-xml root-io-xmlparser root-mlp root-montecarlo-eg root-montecarlo-pythia8 root-net-auth root-net-davix root-net-http root-net-httpsniff root-netx root-quadp root-roofit root-roofit-batchcompute root-roofit-codegen root-roofit-core root-roofit-hs3 root-roofit-jsoninterface root-roofit-more root-roofit-multiprocess root-roofit-zmq root-roostats root-smatrix root-spectrum root-spectrum-painter root-splot root-sql-mysql root-sql-odbc root-sql-pgsql root-sql-sqlite root-testsupport root-tmva root-tmva-gui root-tmva-python root-tmva-sofie root-tmva-sofie-parser root-tmva-utils root-tpython root-tree-viewer root-tree-webviewer root-unfold root-unuran root-xroofit python3-jsmva root-fonts root-gui-qt5webdisplay root-hist-draw root-histv7 root-html root-cli root-cling root-core root-fftw root-foam root-fumili root-gdml root-genetic root-genvector root-geom root-geom-builder root-geom-painter root-geom-webviewer root-graf root-graf-asimage root-graf-fitsio root-graf-gpad root-graf-gpadv7 root-graf-gviz root-graf-postscript root-graf-primitives root-graf-x11 root-graf3d root-graf3d-csg root-hist root-mathcore root-matrix root-multiproc root-spectrum 
    - rm -rf build
    - mkdir build
    - cd build
    - cmake -DROOTSYS=/usr/lib ../
    - make -j4
    - make install
    
build-fedora42:
  stage: build
  image: fedora:42
  script:
    - dnf --nodocs --assumeyes install cmake gcc gcc-fortran root root python3-distrdf python3-root root-cli root-fftw root-foam root-fumili root-gdml root-genetic root-genvector root-geom root-geom-builder root-geom-painter root-geom-webviewer root-graf-fitsio root-graf-gpadv7 root-graf-gviz root-graf-primitives root-graf-x11 root-graf3d-csg root-graf3d-eve root-graf3d-eve7 root-graf3d-gl root-graf3d-gviz3d root-graf3d-x3d root-gui-browsable root-gui-browsable-v7 root-gui-browserv7 root-gui-browserv7-v7 root-gui-builder root-gui-canvaspainter root-gui-fitpanel root-gui-fitpanelv7 root-gui-ged root-gui-html root-gui-recorder root-gui-webdisplay root-gui-webgui6 root-hist-factory root-io-dcache root-io-sql root-io-xml root-io-xmlparser root-mlp root-montecarlo-eg root-montecarlo-pythia8 root-net-auth root-net-davix root-net-http root-net-httpsniff root-netx root-quadp root-roofit root-roofit-batchcompute root-roofit-codegen root-roofit-core root-roofit-hs3 root-roofit-jsoninterface root-roofit-more root-roofit-multiprocess root-roofit-zmq root-roostats root-smatrix root-spectrum root-spectrum-painter root-splot root-sql-mysql root-sql-odbc root-sql-pgsql root-sql-sqlite root-testsupport root-tmva root-tmva-gui root-tmva-python root-tmva-sofie root-tmva-sofie-parser root-tmva-utils root-tpython root-tree-viewer root-tree-webviewer root-unfold root-unuran root-xroofit python3-jsmva root-fonts root-gui-qt5webdisplay root-hist-draw root-histv7 root-html root-cli root-cling root-core root-fftw root-foam root-fumili root-gdml root-genetic root-genvector root-geom root-geom-builder root-geom-painter root-geom-webviewer root-graf root-graf-asimage root-graf-fitsio root-graf-gpad root-graf-gpadv7 root-graf-gviz root-graf-postscript root-graf-primitives root-graf-x11 root-graf3d root-graf3d-csg root-hist root-mathcore root-matrix root-multiproc root-spectrum 
    - rm -rf build
    - mkdir build
    - cd build
    - cmake -DROOTSYS=/usr/lib ../
    - make -j4
    - make install

# run tests using the binary built before
#test:
#  stage: test
#  script:
#    - ./runmytests.sh

docs:
  stage: build
  needs: []
  image: archlinux/archlinux:base-devel
  before_script:
    - pacman-key --init
    - pacman -Syu --noconfirm
    - pacman -S --noconfirm doxygen texlive-bin texlive-basic texlive-latex texlive-latexextra texlive-luatex texlive-fontsrecommended texlive-fontutils texlive-latexrecommended texlive-bibtexextra texlive-plaingeneric otf-latinmodern-math otf-latin-modern cmake gcc-fortran root cern-vdt biber
  script:
    - cmake -E rm -rf ./build
    - cmake -E make_directory ./build
    - cmake -S . -B ./build -D CMAKE_INSTALL_PREFIX:PATH=./install -D GARFIELD_WITH_DOC:BOOL=TRUE -D GARFIELD_WITH_EXAMPLES:BOOL=FALSE -D GARFIELD_WITH_TESTS:BOOL=FALSE
    - cmake --build ./build --config Debug --parallel 5 --target docs
    - cmake --install ./build --config Debug --parallel 5 --component docs
